@model  FoodTracker.Views.ViewModels.DashboardVM

@{
    ViewData["Title"] = "Meals";
}


<h2>Dashboard</h2>

<div>Range: @Model.From?.ToString("yyyy-MM-dd") - @Model.To?.ToString("yyyy-MM-dd")</div>

<div>Total Meals: @Model.statsDTO.TotalMeals</div>
<div>Total Calories: @Model.statsDTO.TotalCalories</div>
<div>Average Price: @Model.statsDTO.AveragePrice</div>
<div>Total Spent: @Model.statsDTO.TotalSpent</div>
<div>Total Protein: @Model.statsDTO.TotalProteins</div>
<div>Total Homemade Meals: @Model.statsDTO.TotalHomemadeMeals</div>
<div>Total Eatout Meals: @Model.statsDTO.TotalEatoutMeals</div>

<hr />

<div id="meal-chart"></div>

@section Scripts {
    <script>

        var homemadeCount = @Model.statsDTO.TotalHomemadeMeals;
        var eatoutCount = @Model.statsDTO.TotalEatoutMeals;
        var options = {
            series: [homemadeCount, eatoutCount],
            theme: {
                monochrome: {
                    enabled: true,
                },
            },
            chart: {
                width: 450,
                type: 'pie',
            },
            labels: ['Homemade', 'Eat out'],
            dataLabels: {
                formatter: function (val, opts) {
                    var count = opts.w.config.series[opts.seriesIndex];
                    return count.toString();
                }
            },
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        var chart = new ApexCharts(document.querySelector("#meal-chart"), options);
        chart.render();</script>
}

<hr />

@foreach (var m in Model.meals)
{
    <span>@m.Name : @m.Type : <b>@m.DateConsumed.ToString("ddMMMyyyy").ToUpper()</b></span>

    <br/>
    <span>@(m.Recipe?.Name ?? "N/A") : </span
    <span>@(m.Recipe?.Instructions ?? "N/A")</span><br /><hr />
}


