@model IEnumerable<FoodTracker.Models.Meal>

@{
    ViewData["Title"] = "Meals";
}

<h1 class="display-3 fw-normal pt-2">Meals <span id="date-dispay" class="display-6"></span></h1>

<p class="text-end">
    <a class="btn btn-dark" asp-action="Create">Create New Entry</a>
</p>

<div class="">
    @foreach (var item in Model)
    {
        <div class="card mb-2">
            <div class="card-body mb-1 py-3">
                <h5 class="card-title text-capitalize d-flex align-items-center"
                    style="border-bottom: 2px double black;">
                    <span>@item.Name</span>
                    <span class="ms-2">- @item.Type</span>

                    <span class="ms-auto d-inline-flex gap-1 flex-nowrap pb-1">
                        <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-warning btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </span>
                </h5>


                <p><strong>Price:</strong> $@item.Price</p> <hr class="my-1" />
                <p><strong>Calories:</strong> @item.Calories</p> <hr class="my-1" />
                <p><strong>Protein:</strong> @item.Proteins</p> <hr class="my-1" />
                <p><strong>Sugars:</strong> @item.Sugars</p> <hr class="my-1" />
                <p><strong>Fats:</strong> @item.Fats</p> <hr class="my-1" />
                <p><strong>Carbohydrates:</strong> @item.Carbohydrates</p> <hr class="my-1" />
                
            </div>
        </div>
    }
</div>

<script>
    const today = new Date();
    const formattedDate = today.toDateString();
    document.getElementById("date-dispay").innerText = `- ${formattedDate}`;
</script>

